<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>sound simulation</title>
    <meta name="Description" content="" />
    <meta name="Keywords" content="" />

    <!--bootstrap-->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen,print" href="./assets/css/style.css" />

    <!--vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!--sound simulation-->
    <script type="text/javascript" src="./assets/js/keystroke-recording.js"></script>

    <!--style-->
    <link rel="stylesheet" href="./assets/css/style.css" />
</head>

<body class="bg-black">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">sound recording</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        </nav>
    </header>
    <main role="main">


        <div class="row">
            <div id="description" class="col-sm-12">
                <div id="control" class="shadow p-3 m-1 rounded bg-dark">
                    <p class="text-white" style="height:150px;white-space:pre-wrap; word-wrap:break-word;">{{ message[step] }}</p>
                    <hr>
                    <p class="text-white text-center" v-if='count_display'>{{count_text[count_arr[step]-1]}} {{count}} s</p>
                    <hr>
                    <button v-on:click="message_next" v-if='next_display' 　id="button_next" type="button" class="btn btn-secondary w-100">Next</button>
                    <hr>
                </div>
                
            </div>
            <div id="main" class="col-sm-12">
                <div id="main" class="shadow p-3 m-1 rounded bg-dark">
                    <div class="row">


                        <div id="output-1" v-if='output-1_display' class="col-sm-12 col-md-4">
                            <p class="text-white">human like sound</p><p><audio id="audio1" controls></audio></p>
                            <hr>
                        </div>

                        <div id="output-2" v-if='output-2_display' class="col-sm-12 col-md-4">
                            <p class="text-white">friendly like sound</p><p><audio id="audio2" controls></audio></p>
                            <hr>
                        </div>
                        <hr>
                        <div id="output-3" v-if='output-3_display' class="col-sm-12 col-md-4">
                            <p class="text-white">hostile like sound</p><p><audio id="audio3" controls></audio></p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</body>
<script>
    let control = new Vue({
        el: '#control',
        data: {
            step: 0,
            message: ['Welcome! You will generate a 5-second auditory signal. It will be played to another participant, together with a computer-generated signal. Your job is to help the participant to judge which signal is from you (human).\n\n Now let\'s practice! \n',
                'Now please make a 5-second human generated auditory signal.',
                'Now please make a 5-second human generated auditory signal.',
                'Now please make a 5-second human generated auditory signal.',
                'Please make a "friendly" 5-second auditory signal.',
                'Please make a "friendly" 5-second auditory signal.',
                'Please make a "friendly" 5-second auditory signal.',
                'Please make a "hostile" 5-second auditory signal.  ',
                'Please make a "hostile" 5-second auditory signal.  ',
                'Please make a "hostile" 5-second auditory signal.  ',
                'Thank you! fill in your information',
            ],
            next_arr: [0,1, 0, 0, 1, 0, 0, 1, 0, 0, 1],
            count_arr: [0, 0, 1, 2, 0, 1, 2, 0, 1, 2],
            count: 5,
            count_text: ['recording is start in ', 'press SPACE to beep! recording...'],
            time_limitation:[5,5],
            next_display: true,
            record_num: 1,
            count_display: false
        },
        methods: {
            message_next: function() {
                console.log("message",this.step);

                this.step += 1;  
                this.next_display = this.next_arr[this.step];

                if(this.step ==1){
                    resumeContext();
                }

                if (this.count_arr[this.step] > 0) {
                    this.count_display = true;
                    this.count = this.time_limitation[this.count_arr[this.step]-1];
                    if(this.count_arr[this.step]==2){
                        console.log("recording start");
                        recordingStart();
                    }
                    this.count_next();
                }
                else{
                    this.count_display = false;
                }

            },
            count_next: function() {
                console.log("count",this.step);
                this.count -= 1;
                if (this.count > 0) {
                    setTimeout(this.count_next, 1000);
                } else {
                    if (this.step == 0) {
                        this.count = 5;
                        setTimeout(this.count_next, 1000);
                    } else {
                        if(this.count_arr[this.step]==2){
                            console.log("recording stop");
                        recordingStop(this.record_num);
                        this.record_num += 1;
                    }
                        this.message_next();
                    }
                }

            }
        }
    })

    let count = new Vue({
        el: '#count',
        data: {


        },
        methods: {

        }
    })
</script>

</html>