<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Keystroke Recording</title>
    <meta name="Description" content="" />
    <meta name="Keywords" content="" />

    <!--UA-parser-->
    <script src="https://cdn.jsdelivr.net/npm/ua-parser-js@0/dist/ua-parser.min.js"></script>
    <script>
    </script>
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen,print" href="./assets/css/style.css" />

    <!--vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!--Keystroke Recording-->
    <script type="text/javascript" src="./assets/js/keystroke-recording.js"></script>

    <!--style-->
    <link rel="stylesheet" href="./assets/css/style.css" />
</head>

<body class="bg-black">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Keystroke Recording</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>
    <main role="main">
        <div class="row" id="control">
            <div id="reg_form" v-if="reg_form_display" class="shadow p-3 m-1 rounded bg-dark text-white">


                <div class="m-3">
                    <p class="text-white">
                        textarea for terms and conditions.textarea for terms and conditions.textarea for terms and conditions.textarea for terms and conditions.textarea for terms and conditions.textarea for terms and conditions.textarea for terms and conditions.textarea for
                        terms and conditions.textarea for terms and conditions.textarea for terms and conditions.textarea for terms and conditions.textarea for terms and conditions.textarea for terms and conditions.textarea for terms and conditions.textarea
                        for terms and conditions.textarea for terms and conditions.textarea for terms and conditions.
                    </p>
                </div>

                <form>
                    <div class="form-group row">
                        <div class="col-6">
                            <label for="age" class="text-white">Age</label>
                            <select id="age" class="form-control">
                                <option selected>
                                    <10s</option> <option value="20">20s
                                </option>
                                <option value="30">30s</option>
                                <option value="40">40s</option>
                                <option value="50">50s</option>
                                <option value="60">
                                    <60s</option> </select> </div>
                        <hr />
                        <div class="col-6">
                            <label for="gender" class="text-white">Gender</label>
                            <select id="gender" class="form-control">
                                            <option value="male" selected>Male</option>
                                            <option value="female">Female</option>
                                            <option value="other">don’t want to say</option>
                                        </select>
                        </div>
                    </div>
                </form>


                <hr />
                <button 　id="sendform_button" v-on:click="sendform" type="button" class="btn btn-secondary col-12">
                    Agreement and Submit
                </button>
            </div>
            <div id="main" v-if="main_display" class="shadow p-3 m-1 rounded bg-dark col-12">
                <p class="text-white" style="height: 150px; white-space: pre-wrap; word-wrap: break-word;">
                    {{ message[step] }}
                </p>
                <hr />
                <p class="text-white text-center" v-if="count_display">
                    {{count_text[count_arr[step]-1]}} {{count}} s
                </p>
                <hr />
                <button v-on:click="message_next" v-if="next_display" 　id="button_next" type="button" class="btn btn-secondary w-100">
                    Next
                </button>
                <hr />
            </div>

            <div id="record" v-if="record_display" class="shadow p-3 m-1 rounded bg-dark row col-12">
                <div id="output-1" v-if="output_1_display" class="col-sm-12 col-md-4">
                    <p class="text-white">human like sound</p>
                    <p><audio id="audio1" controls></audio></p>
                    <hr />
                </div>

                <div id="output-2" v-if="output_2_display" class="col-sm-12 col-md-4">
                    <p class="text-white">friendly like sound</p>
                    <p><audio id="audio2" controls></audio></p>
                    <hr />
                </div>
                <hr />
                <div id="output-3" v-if="output_3_display" class="col-sm-12 col-md-4">
                    <p class="text-white">hostile like sound</p>
                    <p><audio id="audio3" controls></audio></p>
                    <hr />
                </div>
            </div>

        </div>
    </main>
</body>
<script>
    let control = new Vue({
        el: "#control",
        data: {
            step: 0,
            message: [
                "Welcome! You will generate a 5-second auditory signal. It will be played to another participant, together with a computer-generated signal. Your job is to help the participant to judge which signal is from you (human).\n\n Now let's practice! \n",
                "Now please make a 5-second human generated auditory signal.",
                "Now please make a 5-second human generated auditory signal.",
                "Now please make a 5-second human generated auditory signal.",
                'Please make a "friendly" 5-second auditory signal.',
                'Please make a "friendly" 5-second auditory signal.',
                'Please make a "friendly" 5-second auditory signal.',
                'Please make a "hostile" 5-second auditory signal.  ',
                'Please make a "hostile" 5-second auditory signal.  ',
                'Please make a "hostile" 5-second auditory signal.  ',
                "Thank you! fill in your information",
            ],
            next_arr: [0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1],
            count_arr: [0, 0, 1, 2, 0, 1, 2, 0, 1, 2],
            count: 5,
            count_text: [
                "recording is start in ",
                "press SPACE to beep! recording...",
            ],
            time_limitation: [5, 5],
            next_display: true,
            record_num: 1,
            count_display: false,
            reg_form_display: true,
            main_display: false,
            record_display: true,
            output_1_display: true,
            output_2_display: true,
            output_3_display: true,
        },
        methods: {
            sendform: function() {
                console.log("program start");
                this.reg_form_display = false;
                this.main_display = true;
                this.record_display = true;
                recordForm();
            },

            message_next: function() {
                console.log("message", this.step);

                this.step += 1;
                this.next_display = this.next_arr[this.step];

                if (this.step == 1) {
                    resumeContext();
                }

                if (this.count_arr[this.step] > 0) {
                    this.count_display = true;
                    this.count = this.time_limitation[this.count_arr[this.step] - 1];
                    if (this.count_arr[this.step] == 2) {
                        console.log("recording start");
                        recordingStart();
                    }
                    this.count_next();
                } else {
                    this.count_display = false;
                }
            },
            count_next: function() {
                console.log("count", this.step);
                this.count -= 1;
                if (this.count > 0) {
                    setTimeout(this.count_next, 1000);
                } else {
                    if (this.step == 0) {
                        this.count = 5;
                        setTimeout(this.count_next, 1000);
                    } else {
                        if (this.count_arr[this.step] == 2) {
                            console.log("recording stop");
                            recordingStop(this.record_num);
                            this.record_num += 1;
                        }
                        this.message_next();
                    }
                }
            },
        },
    });

    let count = new Vue({
        el: "#count",
        data: {},
        methods: {},
    });
</script>

</html>