@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500&subset=japanese");
.navbar-brand {
    font-weight: 500;
    font-size: 1.4em;
}


/* body要素 */

body {
    font-family: "Noto Sans JP", sans-serif !important;
    color: #1a1a1a;
    font-size: 1em;
    padding: 20px;
    padding-top: 80px;
    margin: 0;
}

.codingarea .form-control {
    height: 200px;
}

h2 {
    font-size: 1.4em;
}

.page {
    position: relative;
    min-height: 600px;
    display: none;
}

#page1 {
    display: block;
}

.button {
    position: absolute;
    bottom: 50px;
    left: 40%;
    right: 40%;
    margin-left: auto;
    margin-right: auto;
}

.countdown {
    color: #525252;
    font-size: 1.4em;
}